<nav class="nav">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <a routerLink="/dashboard" routerLinkActive="active"><mat-icon>home</mat-icon> Dashboard</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/widget"><mat-icon></mat-icon> Widget</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/ui"><mat-icon></mat-icon> UI element</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/table"><mat-icon></mat-icon> table</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/table"><mat-icon></mat-icon> message</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/form"><mat-icon></mat-icon> form</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/chart"><mat-icon></mat-icon> chart</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/heroes"><mat-icon></mat-icon> Heroes</a>
    </mat-list-item>
  </mat-list>
</nav>

