<nav class="nav">
  <h3>shmilycai-ui-demo</h3>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <a routerLink="/dashboard" routerLinkActive="active"><mat-icon>home</mat-icon> Dashboard</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/widget" routerLinkActive="active"><mat-icon></mat-icon> Widget</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/ui" routerLinkActive="active"><mat-icon></mat-icon> UI element</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/table" routerLinkActive="active"><mat-icon></mat-icon> table</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/table" routerLinkActive="active"><mat-icon></mat-icon> message</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/form" routerLinkActive="active"><mat-icon></mat-icon> form</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/chart" routerLinkActive="active"><mat-icon></mat-icon> chart</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a routerLink="/heroes" routerLinkActive="active"><mat-icon></mat-icon> Heroes</a>
    </mat-list-item>
  </mat-list>
</nav>

