.nav{
  position:absolute;
  top:0;
  height:100%;
  width:220px;
  background:#4054b2;
  color:#fff;
  z-index: 100;

  h1,h2,h3,h4,h5,h6{
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
  a{
    color: #ffffff;
    text-decoration: none;
    border: #f00 0 solid;
    line-height: 48px;
    width: 100%;
    &:hover, &:active{
      color: #78be4f;
    }
  }
}

.logo{

  height: 60px;
  line-height: 60px;
  //border-bottom: 1px solid #f00;
}