.nav{
  position:fixed;
  top:0;
  height:100%;
  width:220px;
  // background:#673fb4;
  background:#4054b2;
  color:#fff;
  z-index: 100;

  h1,h2,h3,h4,h5,h6{
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
  a{
    color: #ffffff;
    text-decoration: none;
    line-height: 48px;
    width: 100%;
    font-size: 14px;
    &:hover, &:active{
      color:#fafafa;
    }
  }
}

.logo{

  height: 20px;
  /* line-height: 60px; */
  border-bottom: #3f51b5 1px solid;
  padding: 20px 10px;
  background: #233390;
}