.header{
  position:absolute;
  height:60px;
  line-height: 60px;
  background: #fff;
  width: calc(100% - 40px);
  padding: 0 20px;

  .right{
    float: right;
  }

  .left{
    float: left;
    font-size: 24px;
  }
}
