<div>


  <!-- <ul>
    <li *ngFor="let u of users">{{u.name}}/{{u.desc}}</li>
  </ul> -->
  <p class=" m-b-20">
    <button mat-raised-button>新建用户</button>

    <mat-form-field class="pull-right">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </p>

  <div>
    <table mat-table matSort [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 用户名 </th>
        <td mat-cell *matCellDef="let element" class="text-blue"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="tel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 电话 </th>
        <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> 邮箱 </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef> 描述 </th>
        <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> 状态 </th>
        <td mat-cell *matCellDef="let element">
          <span class="text-green" *ngIf="element.status">可用 </span>
          <span class="text-red" *ngIf="!element.status">弃用</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="operate">
        <th mat-header-cell *matHeaderCellDef> 操作 </th>
        <td mat-cell *matCellDef="let element">

          <button mat-icon-button (click)="get(element)" class="end">
            <i class="fa fa-eye text-purple"></i>
          </button>
          <button mat-icon-button (click)="update(element)" class="end">
            <i class="fa fa-pencil text-purple"></i>
          </button>
          <button mat-icon-button (click)="delete(element)" class="end">
            <i class="fa fa-trash text-purple"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>