<h1 mat-dialog-title>
    <span *ngIf="data.type === 'update'">修改，{{data.user.name}}</span>
    <span *ngIf="data.type === 'add'">新建用户</span>
</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [(ngModel)]="user.name" placeholder="名称">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="user.tel" placeholder="电话">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="user.email" placeholder="邮箱：">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="user.desc" placeholder="描述：">
    </mat-form-field>
    <div></div>
    <mat-radio-group [(ngModel)]="user.status">
        <mat-radio-button  [value]=true class="m-r-20">启用</mat-radio-button>
        <mat-radio-button  [value]=false>禁用</mat-radio-button>
    </mat-radio-group>

</div>
<div class="text-right m-t-20" mat-dialog-actions>
    <button mat-button (click)="close()">关闭</button>
    <button mat-raised-button color="primary" (click)="save()">保存</button>
</div>