/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

*{
  margin:0;
  padding:0;
}
html, body {
  height: 100%;
  background: #e6e7ee;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
